@import "tailwindcss";
@import "../fonts/Lo-Res Fonts/stylesheet.css";

:root {
  --background: #ffffff;
  --foreground: #333333;
  --primary: #66ccff;
  --secondary: #cccccc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-helvetica-neue) Helvetica, sans-serif;
  --font-mono: var(--font-lores-21-serif), monospace;
  --font-lores: var(--font-lores-21-serif), serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

button {
  @apply cursor-pointer;
}

.lores-shadow {
  @apply shadow-[10px_10px_0_0_var(--foreground)];
}

@custom-variant hover (&:hover);